body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(74, 71, 73);
}

h1 {
    color: rgb(228, 232, 25);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 200%;
    font-family:verdana
   
}

#stopwatch {
    font-size: 2em;
    color: #e67d14;
    margin-bottom: 20px;
}


.board-container {
    display: flex;
    align-items: center;
    height: 150vh; 
    flex-direction: column; 
    justify-content: space-between;
    
 
}

.board {
    border-collapse: collapse;
    flex-grow: 1;
    margin-bottom:0px;
 
}

.board td {
    border: 10px solid rgb(51, 48, 52);
    padding: 30px;
    text-align: center;
    
}

.level1, .level2, .level3 {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.smiley{
    font-size:80px;

} 

.lives{
    font-size:80px;
}

.board td.cell.revealed {
    background-color: #ccc; 
    color: #000; 
   
}