body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(74, 71, 73);
}

h1 {
    color: rgb(125, 122, 127);
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 34px;
}

.hr-container {
    margin-top: 20px; 
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
 
}

.board {
    border-collapse: collapse;
}

.board td {
    border: 10px solid rgb(51, 48, 52);
    padding: 30px;
    text-align: center;
}

.level1, .level2, .level3 {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
